# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Native build outputs
.kotlin/
ios/
android/

# Metro
.metro-health-check*

# Native credentials
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.pem

# Patch and merge leftovers
*.orig.*
